footer{
  position: static;
  bottom: 0;

}
/* .par{
    position: relative;
} */
li{
  list-style: none;
  display: inline;
  margin: 2rem;
}
a{
  text-decoration: none;
  color: black;
  font:bold;
  font-size: 2em;
}



@media screen and (max-width: 480px) {
 li{
  margin: 1.5em;
 }
 a{
  font-size: 1.5em;
 }
}