<h1>About me</h1>
<!-- <p>I am FrontEnd web developer and i am learning backend to become full stack and i am also learning AI and C++.
  I am intrested in Web development Frontend and Backend and AI (Deep Learning).
</p> -->
<div class="main">
  <div class="skill-div">
    <h2>Skills</h2>
    <ul>
      <li>Basic Networking knowledge</li>
      <li>Basic CyberSecurity knowledge</li>
      <li>Web3 knowledge</li>
      <br>
      <li><b>Css</b></li>
      <ul>
        <li>SCSS</li>
        <li>SASS</li>
        <li>Tailwind Css</li>
      </ul> <br>
      <li>Node.js</li>
      <li>Git / Github</li>
    </ul>
  </div>
  <div class="lang-div">
    <h2>Languages</h2>
    <ul>
      <li>Python</li>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>Some C++</li>
    </ul>
  </div>
  <div class="frame-div">
    <h2>FrameWorks</h2>
    <ul>
      <li>Angular</li>
      <li>React</li>
      <li>Express.js</li><br>
      <li>Modules</li>
      <ul>
        <li>Discord.js</li>
      </ul>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>