@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
.loading{
	text-align: center;
}
.loading::selection{
  background-color: rgb(37, 117, 90);
  color: #eee4d3;
}
h4::selection{
  background-color: rgb(37, 117, 90);
  color: #eee4d3;

}
li{
  list-style: none;
}
li::selection{
  background-color: rgb(37, 117, 90);
  color: #eee4d3;

}
.color{
  color:black;
  overflow-wrap: break-word;
}
p{
  padding:2rem;
}
p::selection{
  background-color: rgb(37, 117, 90);
  color: #eee4d3;

}
a{
  text-decoration: none;
  font-size: 1.8rem;
  font-family: 'Rubik', sans-serif;
}
a:hover{
  color: rgb(37, 117, 90);
  font-weight: 600;
}
a::selection{
  background-color: rgb(37, 117, 90);
  color: #eee4d3;

}
h1{
  margin: 2rem;
  color:rgb(37, 117, 90);
  font-family: 'Rubik', sans-serif;
}
h1::selection{
  background-color: rgb(37, 117, 90);
  color: #eee4d3;

}
div{
  margin: 2rem;
}
div::selection{
  background-color: rgb(37, 117, 90);
  color: #eee4d3;

}
@media screen and (max-width: 480px) {
 div{
  margin: 1.5rem;
 }
 h1{
  margin: 1.5rem;
 }

}

.grid{
  margin: 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 30em);
  background-color: rgb(37, 117, 90);
  border-radius: 0.5rem;
  margin: 2rem;
  justify-content: center;
}
.grid-color{
  background-color: #eee4d3;
  border-radius: 0.5rem;
}
.grid-color::selection{
  background-color: rgb(37, 117, 90);
  color: #eee4d3;

}
h1{
  background-color: #eee4d3;
  border-radius: 0.5rem;
}