

<h1>My Projects / Contributions</h1>

<div class="grid">
    <div class="grid-color" *ngFor="let rep of repos">
      <p >
        <a class="color" href="{{rep.html_url}}"><h4>{{rep.name}}</h4></a>
        <li class="color">Description: {{rep.description}}</li>
        <br>
        <li class="color">Language: {{rep.language}}</li>
        <br>
        <li class="color"*ngIf="rep.fork == true; else elseBlock" >Forked: ✅</li>
		<ng-template #elseBlock><li class="color">Forked: ❌</li></ng-template>
      </p>
    </div>
    <router-outlet></router-outlet>
</div>

