

<h1>My Projects / Contributions</h1>

<div class="grid"*ngIf="state == true; else block">
    <div class="grid-color" *ngFor="let rep of repos">
      <p >
        <a class="color" href="{{rep.html_url}}"><h4>{{rep.name}}</h4></a>
        <li class="color">Description: {{rep.description}}</li>
        <br>
        <li class="color">Language: {{rep.language}}</li>
        <br>
        <li class="color"*ngIf="rep.fork == true; else elseBlock" >Forked: ✅</li>
		<ng-template #elseBlock><li class="color">Forked: ❌</li></ng-template>
      </p>
    </div> 
	
	
    <router-outlet></router-outlet>
</div>

<ng-template #block> 
		 <div class="grid-color">
		  <h1 class="loading">
			Loading data
			<svg xmlns="http://www.w3.org/2000/svg" width="50" height="20" viewBox="0 0 24 24"><circle cx="18" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".33" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="6" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin="0" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle></svg>
		  </h1>
		</div>
		 <router-outlet></router-outlet>
	</ng-template>
