@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

div{
  background-color: #eee4d3;
  border-radius: 0.5rem;
}
li{
  list-style: none;
  display: inline;
  margin: 2rem;

}
li::selection{
  background-color: rgb(37, 117, 90);
  color: #eee4d3;

}
a{
  text-decoration: none;
  color: black;
  font:bold;
  font-size: 2em;
  background-color: #eee4d3;
  font-family: 'Rubik', sans-serif;
}
a::selection{
  background-color: rgb(37, 117, 90);
  color: #eee4d3;

}
button{
  margin: 2rem;
}
h2{
  margin: 2rem;
}
b::selection{
  background-color: rgb(37, 117, 90);
  color: #eee4d3;

}
input{
  margin: 2rem;
  border-color:black;
}
textarea{
  margin: 2rem;
  border-color: black;
}

@media screen and (max-width: 480px) {
 li{
  margin: 1.5em;
 }
 a{
  font-size: 1.5em;
 }
 h2{
  margin: 1.5rem;
 }
 input{
    margin: 1.5rem;
 }
 button{
  margin: 1.5rem;
}
}
.active{
  text-decoration: underline;
  color: rgb(37, 117, 90);
}