<app-nav></app-nav>

<div class="Main">
  <p>Hello i am Mohamed i am interested in web development and machine learning,
    I want to increase my knowledge and become succesfull in programming,
    I studied alot of networking, cybersecurity, computer science concepts for the job,
    I am interested in every new technology and i am always seeking for new stuff to learn
  </p>
  <p>
    As i said i have learned a lot of concepts and Variety of technologies from learning <b>discord.js</b> for making
    discord bots to learning <b>React</b>, <b>Angular</b>, <b>express.js</b> for making a <b>Rest Api</b>
    and <b>python</b> for general data manipulation and machine learning education
  </p>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
